build/
.gradle/
target/
out/
.project
.classpath
/bootstrap.xml
/font-awesome.xml
*.*~
**/*.iml
*.ipl
**/*.ipl
*.iwl
**/*.iwl
/chain.crt
/private.pem
/cache
/.intellijPlatform
.idea
!/.idea/codeStyles
