# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Publish to JetBrains Marketplace

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    environment: JetBrains Marketplace
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Maximize build disk space
        # You may pin to the exact commit or the version.
        # uses: easimon/maximize-build-space@fc881a613ad2a34aca9c9624518214ebc21dfc0c
        uses: easimon/maximize-build-space@v10
        with:
          # Space to be left free on the root filesystem, in Megabytes.
          root-reserve-mb: 1024 # optional, default is 1024
          # Space to be left free on the temp filesystem (/mnt), in Megabytes.
          temp-reserve-mb: 100 # optional, default is 100
          # Swap space to create, in Megabytes.
          swap-size-mb: 4096 # optional, default is 4096
          # Create the LVM disk images as sparse files, making the space required for the LVM image files *appear* unused on the
          # hosting volumes until actually allocated. Use with care, this can lead to surprising out-of-disk-space situations.
          # You should prefer adjusting root-reserve-mb/temp-reserve-mb over using this option.
          overprovision-lvm: # optional, default is false
          # Absolute path to the mount point where the build space will be available, defaults to $GITHUB_WORKSPACE if unset.
          build-mount-path: # optional
          # Ownership of the mount point path, defaults to standard "runner" user and group.
          build-mount-path-ownership: # optional, default is runner:runner
          # Absolute file path for the LVM image created on the root filesystem, the default is usually fine.
          pv-loop-path: # optional, default is /pv.img
          # Absolute file path for the LVM image created on the temp filesystem, the default is usually fine. Must reside on /mnt
          tmp-pv-loop-path: # optional, default is /mnt/tmp-pv.img
          # Removes .NET runtime and libraries. (frees ~17 GB)
          remove-dotnet: true # optional, default is false
          # Removes Android SDKs and Tools. (frees ~11 GB)
          remove-android: true # optional, default is false
          # Removes GHC (Haskell) artifacts. (frees ~2.7 GB)
          remove-haskell: true # optional, default is false
          # Removes CodeQL Action Bundles. (frees ~5.4 GB)
          remove-codeql: true # optional, default is false
          # Removes cached Docker images. (frees ~3 GB)
          remove-docker-images: true # optional, default is false

      - uses: actions/checkout@v2

      - name: Set up JDK 21 # This jdk is just for running Gradle, the compiler will be downloaded according to Gradle's build script.
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Clean up
        run: ./gradlew clean

      - name: Clean up ide cache
        run: rm -rf ~/.cache/.pluginVerifier ~/.pluginVerifier

      - name: Build with Gradle
        run: ./gradlew buildPlugin

      - name: Run Plugin Verifier
        run: ./gradlew verifyPlugin
      # The USERNAME and TOKEN need to correspond to the credentials environment variables used in
      # the publishing section of your build.gradle

      - name: Publish to JetBrains Marketplace
        run: ./gradlew publishPlugin
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
